.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
  color: white;
  font-size: 20px;
}

.App-map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
}

.App-map-container-loader {
  border-width: 5px;
  border-style: dashed;
  border-color: white;
}

button{
  font-size: 30px;
}
